<div id="userInfoDiv">
  <label for='fullname'>Name:</label>
  <span> {{ u.firstName }} {{ u.lastName }}</span>
  <br/>
  <label for='email'>Email:</label>
  <span> {{ u.email }}</span>
  <br/>
  <button type='submit' (click)='goBack()'>Back to Home</button>
</div>

<div id="favoriteDiv">
  <h2>Your Favorites</h2>
  <table width="50%">
    <tr>
      <th>Request ID</th>
      <th>Brewery Name</th>
      <th>Overall Rating</th>
      <th>Remove Favorites</th>
    </tr>
    <tr *ngFor="let fBrewery of u.favorites">
      <td><div style="text-align:center">{{ fBrewery.id }}</div></td>
      <td>{{ fBrewery.name }}</td>
      <td>{{ fBrewery.rating }}</td>
      <td><div style="text-align:center"><button type='button' class="fBrewery" id=fBrewery.id (click)='removeFavorite(fBrewery.id)'>Remove</button></div></td>
    </tr>
  </table>
</div>
