<app-navbar></app-navbar>

<div class="profileDiv">
  <div class="container-fluid">
    <div class="row">
      <div id="userInfoDiv" class="col my-auto text-left">
        <label for='fullname'>Name:</label>
        <span id ='fullname'> {{ u.firstName }} {{ u.lastName }}</span>
        <br/>
        <label for='email'>Email:</label>
        <span id="email"> {{ u.email }}</span>
        <br/>
        <button type="button" data-toggle="modal" data-target="#myModal" id="button" name="update" class='btn'>UPDATE PROFILE</button>
      </div>

      <div id="favoriteDiv" class="col my-auto text-right">
        <table width="100%">
          <h2>My Favorites</h2>
          <tr>
            <th>Brewery Name</th>
            <th>Overall Rating</th>
            <th>Remove Favorites</th>
          </tr>
          <tr *ngFor="let fBrewery of favoriteBreweryList">
            <td id="breweryName">{{ fBrewery.name }}</td>
            <td id="breweryRating">{{ fBrewery.rating }}</td>
            <td><button type='button' class="fBrewery" id="fBrewery.id" (click)='removeFavorite(fBrewery.id)'>Remove</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h2 class="modal-title" id="profile-update-modal">Update Profile Information</h2>
            <button type="button" class="close" data-dismiss='modal'>
                    ×
            </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form>
              <div class="form-group">
                  <label for="updateFName">First Name:</label>
                  <input [(ngModel)]='uFirstname' id='uFirstname' type='text' name='firstname'>
                  <br/>
                  <label for="updateLName">Last Name:</label>
                  <input [(ngModel)]='uLastname' id='uLastname' type='text' name='lastname'>
                  <br/>
                  <label for="updatePWord">Password:</label>
                  <input [(ngModel)]='uPassword' id='uPassword' type='password' name='password'>
                  <br/>
                  <label for="updateEmail">Email:</label>
                  <input [(ngModel)]='uEmail' id='uEmail' type='text' name='email'>
              </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button"
              class="btn btn-outline-dark"
              id='updatBtn'
              (click)="update()">
              Update
          </button>
      </div>

      </div>
    </div>
  </div>
</div>
