.btn {
    background-color: #ffd663;
    border-width: 3px;
    border-style: solid;
    border-color: white;
}
input {
    background-color: #ffd663;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
}
::placeholder {
    color: #787877;
}
.form-control {
    background-color: rgba(255, 249, 232, .5);
    height: 28em;
    box-shadow: 10px 5px 5px #dba004;
}
label {
    display: none;
}
