th, td {
  border: 1px solid black;
  text-align: center;
  margin-right: 0px;
  margin-left: auto;
}

table {
  margin-right: 0px;
  margin-left: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
