<app-navbar></app-navbar>

<div class="homeDiv">
  <div class="container-fluid">
    <div class="row">
      <div id=optionsDiv class="col my-auto text-left">
        <button type='button' id='ProfileBtn' class='btn' (click)='toProfile()'>MY PROFILE</button>
        <br/>
        <br/>
        <label for='inputName'>Search By Name: </label>
        <input [(ngModel)]='inputName' id='inputName' type='text' name='inputName' placeholder='Search By Name'>
        <br/>
        <label for='inputState'>Search By State: </label>
        <input [(ngModel)]='inputState' id='inputState' type='text' name='inputState' placeholder='Search By State'>
        <br/>
        <label for='inputZipcode'>Search By Zipcode: </label>
        <input [(ngModel)]='inputZipcode' id='inputZipcode' type="number" name='inputZipcode' placeholder='Search By Zipcode'>
        <button type='button' id="searchBtn" name="zipcode" class='btn' (click)='updateBList()'>SEARCH</button>
        <app-gmap></app-gmap>
      </div>

      <div id="breweryDiv" class="col my-auto text-center">
        <table width="100%">
          <h2>Breweries</h2>
          <label for="search">Search Results By Name: </label>
          <input type="text" name="search" [(ngModel)]='search' placeholder='Search Results By Name'>
          <tr>
            <th>Brewery Name</th>
            <th>Brewery Info</th>
          </tr>
          <tr *ngFor="let brewery of breweryList | nameFilter: search">
            <td>{{ brewery.name }}</td>
            <td><button type="button" data-toggle="modal" data-target="#myModal" id=brewery.id class='btn' (click)='breweryInfo(brewery.id)'>View</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h2 class="modal-title" id="profile-update-modal">{{ name }}</h2>
            <button type="button" class="close" data-dismiss='modal'>
                    ×
            </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form>
              <div class="form-group">
                <p>Phone Number: {{ phone }}</p>
                <p>Address: {{ street }}, {{ city }}, {{ state }} {{ postalCode }}</p>
              </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" data-dismiss='modal' id="btn" name="toBrewery" class='btn' (click)='toBreweryPage()'>View Page</button>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- TEMPORARY, FOR TESTING -->
